<!doctype html>
<html class="no-js" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>اوریجن</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/plaza-font.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/fancy-box.css">
    <link rel="stylesheet" href="assets/css/plugins/jqueryui.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <header class="header">
            <!-- Header Top Start -->
            <div class="header-top-area d-none d-lg-block text-color-white bg-gren border-bm-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-top-settings">
                                <ul class="nav align-items-center">
                                    <li class="language">language <i class="fa fa-angle-down"></i>
                                        <ul class="dropdown-list">
                                            <li><a href="#">Persian</a></li>
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Arabic</a></li>
                                        </ul>
                                    </li>
                                    <li class="curreny-wrap">واحد پول  <i class="fa fa-angle-down"></i>
                                        <ul class="dropdown-list curreny-list">
                                            <li><a href="#">$ USD</a></li>
                                            <li><a href="#"> € EURO</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="top-info-wrap text-right">
                                <ul class="my-account-container">
                                    <li><a href="my-account.html">حساب کاربری</a></li>
                                    <li><a href="cart.html">سبد خرید</a></li>
                                    <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                    <li><a href="checkout.html">پرداخت</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- haeader Mid Start -->
            <div class="haeader-mid-area bg-gren border-bm-1 d-none d-lg-block ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4 col-5">
                            <div class="logo-area">
                                <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="search-box-wrapper">
                                <div class="search-box-inner-wrap">
                                    <form class="search-box-inner">
                                        <div class="search-select-box">
                                            <select class="nice-select">
                                                <optgroup label="organic food">
                                                    <option value="volvo">دسته بندیها </option>
                                                    <option value="saab">عنوان دسته بندی</option>
                                                    <option value="saab">عنوان دسته بندی</option>
                                                    <option value="saab">عنوان دسته بندی</option>
                                                    <option value="saab">عنوان دسته بندی</option>
                                                    <option value="saab">عنوان دسته بندی</option>
                                                </optgroup>
                                                <optgroup label="Fashion">
                                                    <option value="mercedes">عنوان دسته بندی</option>
                                                    <option value="audi">عنوان دسته بندی</option>
                                                    <option value="audi">عنوان دسته بندی</option>
                                                    <option value="audi">عنوان دسته بندی</option>
                                                    <option value="audi">عنوان دسته بندی</option>
                                                    <option value="audi">عنوان دسته بندی</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class="search-field-wrap">
                                            <input type="text" class="search-field" placeholder="جستجوی محصول یا برند (شیر، پوشک، کاله و...)">
                                            <div class="search-btn">
                                                <button><i class="icon-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="customer-wrap green-bg">
                                <div class="single-costomer-box">
                                    <div class="single-costomer">
                                        <p><i class="icon-check-circle"></i><span>تحویل رایگان</span></p>
                                    </div>
                                </div>
                                <div class="single-costomer-box">
                                    <div class="single-costomer">
                                        <p><i class="icon-lock"></i><span>پرداخت امن</span></p>
                                    </div>
                                </div>
                                <div class="single-costomer-box">
                                    <div class="single-costomer">
                                        <p><i class="icon-bell"></i><span>پشتیبانی 24/7</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- haeader Mid End -->
            <!-- haeader bottom Start -->
            <div class="haeader-bottom-area bg-gren header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9 d-none d-lg-block">
                            <div class="main-menu-area white_text">
                                <!--  Start Mainmenu Nav-->
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active"><a href="index.html">خانه <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">صفحه اصلی 1</a></li>
                                                <li><a href="index-2.html">صفحه اصلی 2</a></li>
                                                <li><a href="index-3.html">صفحه اصلی 3</a></li>
                                                <li><a href="index-4.html">صفحه اصلی 4</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#">فروشگاه <i class="fa fa-angle-down"></i></a>
                                            <ul class="mega-menu">
                                                <li>
                                                    <ul>
                                                        <li><a href="shop.html">فروشگاه نوار کناری </a></li>
                                                        <li><a href="shop-list-left.html"> فروشگاه نوار فهرست</a></li>
                                                        <li><a href="shop-fullwidth.html"> فروشگاه تمام عرض</a></li>
                                                        <li><a href="cart.html">صفحه سبد خرید</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li><a href="product-details.html">جزئیات محصول تک</a></li>
                                                        <li><a href="variable-product-details.html">جزئیات محصول متغیر</a></li>
                                                        <li><a href="gallery-product-details.html">گالری جزئیات محصول</a></li>
                                                        <li><a href="wishlist.html">صفحه لیست دلخواه</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li><a href="error404.html">خطای 404</a></li>
                                                        <li><a href="compare.html">مقایسه صفحه</a></li>
                                                        <li><a href="checkout.html">صفحه پرداخت</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">وبلاگ <i class="fa fa-angle-down"></i></a>

                                            <ul class="sub-menu">
                                                <li><a href="blog.html">وبلاگ چپ نوار کناری</a></li>
                                                <li><a href="blog-grid.html">وبلاگ صفحه گرید</a></li>
                                                <li><a href="blog-largeimage.html">وبلاگ بزرگ تصویر</a></li>
                                                <li><a href="blog-details.html">صفحه جزئیات وبلاگ</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#"> صفحات  <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="frequently-questions.html">سوالات متداول</a></li>
                                                <li><a href="my-account.html">حساب کاربری</a></li>
                                                <li><a href="login-register.html">ورود / ثبت نام</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html"> درباره ما</a></li>
                                        <li><a href="contact-us.html">تماس با ما</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-5 col-md-6 d-block d-lg-none">
                            <div class="logo"><a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a></div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-7">
                            <div class="right-blok-box text-white d-flex">

                                <div class="user-wrap">
                                    <a href="wishlist.html"><span class="cart-total">2</span> <i class="icon-heart"></i></a>
                                </div>

                                <div class="shopping-cart-wrap">
                                    <a href="#"><i class="icon-shopping-bag2"></i><span class="cart-total">2</span> <span class="cart-total-amunt">۱۶۹,۰۰۰ تومان</span></a>
                                    <ul class="mini-cart">
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a><img alt="" src="assets/images/product/product-01.jpg"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a>
                                                    <h4>نام محصول</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">49,000 تومان</span>۱0۹,۰۰۰ تومان</div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i class="icon-x"></i></a>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a><img alt="" src="assets/images/product/product-02.jpg"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a>
                                                    <h4>نام محصول</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">49,000 تومان</span>۱0۹,۰۰۰ تومان</div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i class="icon-trash icons"></i></a>
                                            </div>
                                        </li>
                                        <li class="subtotal-box">
                                            <div class="subtotal-title">
                                                <h3>مبلغ قابل پرداخت:</h3><span>2۶۹,۰۰۰ تومان</span>
                                            </div>
                                        </li>
                                        <li class="mini-cart-btns">
                                            <div class="cart-btns">
                                                <a href="cart.html">سبد خرید</a>
                                                <a href="checkout.html">پرداخت</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mobile-menu-btn d-block d-lg-none">
                                    <div class="off-canvas-btn">
                                        <a href="#"><img src="assets/images/icon/bg-menu.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- haeader bottom End -->
            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="icon-x"></i>
                    </div>
                    <div class="off-canvas-inner">
                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="جستجو محصول ...">
                                <button class="search-btn"><i class="icon-search"></i></button>
                            </form>
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">خانه</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">صفحه اصلی 1</a></li>
                                            <li><a href="index-2.html">صفحه اصلی 2</a></li>
                                            <li><a href="index-3.html">صفحه اصلی 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">فروشگاه</a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title has-children"><a href="#">پوسته فروشگاه</a>
                                                <ul class="dropdown">
                                                    <li><a href="shop.html">فروشگاه چپ نوار کناری</a></li>
                                                    <li><a href="shop-list-left.html">فهرست فروشگاه فهرست نوار چپ</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">مشخصات کالا</a>
                                                <ul class="dropdown">
                                                    <li><a href="product-details.html">جزئیات محصول تک</a></li>
                                                    <li><a href="variable-product-details.html">جزئیات محصول متغیر</a></li>
                                                    <li><a href="gallery-product-details.html">گالری جزئیات محصول</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">صفحات فروشگاه</a>
                                                <ul class="dropdown">
                                                    <li><a href="error404.html">خطای 404</a></li>
                                                    <li><a href="compare.html">مقایسه صفحه</a></li>
                                                    <li><a href="cart.html">صفحه سبد خرید</a></li>
                                                    <li><a href="checkout.html">صفحه پرداخت</a></li>
                                                    <li><a href="wishlist.html">صفحه لیست دلخواه</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">وبلاگ</a>
                                        <ul class="dropdown">
                                            <li><a href="blog.html">وبلاگ چپ نوار کناری</a></li>
                                            <li><a href="blog-grid.html">وبلاگ صفحه گرید</a></li>
                                            <li><a href="blog-largeimage.html">وبلاگ بزرگ تصویر</a></li>
                                            <li><a href="blog-details.html">صفحه جزئیات وبلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">صفحات</a>
                                        <ul class="dropdown">
                                            <li><a href="frequently-questions.html">سوالات متداول</a></li>
                                            <li><a href="my-account.html">حساب من</a></li>
                                            <li><a href="login-register.html">ورود / ثبت نام</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="contact-us.html">تماس</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <h5>حساب کاربری</h5>
                            <ul class="nav align-items-center">
                                <li class="language">language <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li><a href="#">Persian</a></li>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Arabic</a></li>
                                    </ul>
                                </li>
                                <li class="curreny-wrap">واحد پولی <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list curreny-list">
                                        <li><a href="#">$ USD</a></li>
                                        <li><a href="#"> € EURO</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap  text-black">
                                <h5>حساب کاربری</h5>
                                <ul class="offcanvas-account-container">
                                    <li><a href="my-account.html">حساب کاربری</a></li>
                                    <li><a href="cart.html">سبد خرید</a></li>
                                    <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                    <li><a href="checkout.html">پرداخت</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active">وبلاگ</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        <!-- main-content-wrap start -->
        <div class="main-content-wrap shop-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2">
                        <!-- blog-sidebar-wrap start -->
                        <div class="blog-sidebar-wrap">
                            <div class="blog-sidebar-widget-area">

                                <!--single-widget start  -->
                                <div class="single-widget search-widget mb-30">
                                    <h4 class="widget-title">فیلتر جستجو</h4>
                                    <form action="#">
                                        <div class="form-input">
                                            <input type="text" placeholder="جستجو...">
                                            <button class="button-search" type="submit"><i class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!--single-widget start end -->

                                <!--single-widget start  -->
                                <div class="single-widget mb-30">
                                    <h4 class="widget-title">دسته بندی ها</h4>
                                    <!-- category-widget start -->
                                    <div class="category-widget-list">
                                        <ul>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                            <li><a href="#">عنوان دسته بندی</a></li>
                                        </ul>
                                    </div>
                                    <!-- category-widget end -->
                                </div>
                                <!--single-widget end  -->

                                <!--single-widget start  -->
                                <div class="single-widget mb-30">
                                    <h4 class="widget-title">مطالب اخیر</h4>

                                    <div class="recent-post-widget">
                                        <div class="single-widget-post">
                                            <div class="post-thumb">
                                                <a href="#"><img src="assets/images/blog/small-blog.jpg" alt=""></a>
                                            </div>
                                            <div class="post-info">
                                                <h6 class="post-title"><a href="#">عنوان مطلب</a></h6>
                                                <div class="post-date">5 تیر 1398</div>
                                            </div>
                                        </div>
                                        <div class="single-widget-post">
                                            <div class="post-thumb">
                                                <a href="#"><img src="assets/images/blog/small-blog-02.jpg" alt=""></a>
                                            </div>
                                            <div class="post-info">
                                                <h6 class="post-title"><a href="#">عنوان مطلب</a></h6>
                                                <div class="post-date">5 تیر 1398</div>
                                            </div>
                                        </div>
                                        <div class="single-widget-post">
                                            <div class="post-thumb">
                                                <a href="#"><img src="assets/images/blog/small-blog-03.jpg" alt=""></a>
                                            </div>
                                            <div class="post-info">
                                                <h6 class="post-title"><a href="#">عنوان مطلب</a></h6>
                                                <div class="post-date">5 تیر 1398</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--single-widget end  -->

                                <!--single-widget start  -->
                                <div class="single-widget mb-30">
                                    <h4 class="widget-title">آرشیو</h4>
                                    <!-- category-widget start -->
                                    <div class="category-widget-list">
                                        <ul>
                                            <li><a href="#">آذر 1398</a></li>
                                            <li><a href="#">بهمن 1398</a></li>
                                        </ul>
                                    </div>
                                    <!-- category-widget end -->
                                </div>
                                <!--single-widget end  -->

                                <!--single-widget start  -->
                                <div class="single-widget mb-30">
                                    <h4 class="widget-title">برند محصول</h4>
                                    <ul class="sidebar-tag">
                                        <li><a href="#">لوازم جانبی</a></li>
                                        <li><a href="#">بلوز </a></li>
                                        <li><a href="#">لباس </a></li>
                                        <li><a href="#">دسکتاپ </a></li>
                                        <li><a href="#">دیجیتال </a></li>
                                        <li><a href="#">مد </a></li>
                                        <li><a href="#">زنان </a></li>
                                        <li><a href="#">مردان </a></li>
                                        <li><a href="#"> لپ تاپ</a></li>
                                        <li><a href="#">کیف</a></li>
                                    </ul>
                                </div>
                                <!--single-widget end -->

                            </div>
                        </div>
                        <!-- blog-sidebar-wrap end -->
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">

                        <div class="blog-wrapper">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- single-blog-wrap Start -->
                                    <div class="single-blog-wrap mb-40">
                                        <div class="col-5-custom">
                                            <div class="latest-blog-image">
                                                <a href="blog-details.html"><img src="assets/images/blog/blog-05.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-7-custom">
                                            <div class="latest-blog-content text-right">
                                                <h4><a href="blog-details.html"><i class="fa fa-thumb-tack"></i> عنوان مطلب</a></h4>
                                                <ul class="post-meta">
                                               <li class="post-author">مدیر</li>
                                                   <li class="post-date">5 تیر 1398</li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای</p>
                                                <div class="blog-read-more">
                                                    <a href="#">ادامه مطلب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-blog-wrap End -->

                                    <!-- single-blog-wrap Start -->
                                    <div class="single-blog-wrap mb-40">
                                        <div class="col-5-custom">
                                            <div class="latest-blog-image">
                                                <a href="blog-details.html"><img src="assets/images/blog/blog-01.jpg" alt=""></a>
                                            </div>

                                        </div>
                                        <div class="col-7-custom">
                                            <div class="latest-blog-content text-right">
                                                <h4><a href="blog-details.html"> عنوان مطلب</a></h4>
                                                <ul class="post-meta">
                                               <li class="post-author">مدیر</li>
                                                   <li class="post-date">5 تیر 1398</li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای</p>
                                                <div class="blog-read-more">
                                                    <a href="#">ادامه مطلب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-blog-wrap End -->

                                    <!-- single-blog-wrap Start -->
                                    <div class="single-blog-wrap mb-40">
                                        <div class="col-5-custom">
                                            <div class="latest-blog-image">
                                                <a href="blog-details.html"><img src="assets/images/blog/blog-03.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-7-custom">
                                            <div class="latest-blog-content text-right">
                                                <h4><a href="blog-details.html"> عنوان مطلب</a></h4>
                                                <ul class="post-meta">
                                               <li class="post-author">مدیر</li>
                                                   <li class="post-date">5 تیر 1398</li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای</p>
                                                <div class="blog-read-more">
                                                    <a href="#">ادامه مطلب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-blog-wrap End -->

                                    <!-- single-blog-wrap Start -->
                                    <div class="single-blog-wrap mb-40">
                                        <div class="col-5-custom">
                                            <div class="latest-blog-image">
                                                <a href="blog-details.html"><img src="assets/images/blog/blog-02.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-7-custom">
                                            <div class="latest-blog-content text-right">
                                                <h4><a href="blog-details.html">عنوان مطلب</a></h4>
                                                <ul class="post-meta">
                                               <li class="post-author">مدیر</li>
                                                   <li class="post-date">5 تیر 1398</li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای</p>
                                                <div class="blog-read-more">
                                                    <a href="#">ادامه مطلب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-blog-wrap End -->

                                    <!-- single-blog-wrap Start -->
                                    <div class="single-blog-wrap mb-40">
                                        <div class="col-5-custom">
                                            <div class="latest-blog-image">
                                                <a href="blog-details.html"><img src="assets/images/blog/blog-04.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-7-custom">
                                            <div class="latest-blog-content text-right">
                                                <h4><a href="blog-details.html"> عنوان مطلب</a></h4>
                                                <ul class="post-meta">
                                               <li class="post-author">مدیر</li>
                                                   <li class="post-date">5 تیر 1398</li>
                                                </ul>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای</p>
                                                <div class="blog-read-more">
                                                    <a href="#">ادامه مطلب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-blog-wrap End -->
                                </div>
                            </div>

                            <!-- paginatoin-area start -->
                            <div class="paginatoin-area">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <ul class="pagination-box">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li>
                                                <a class="Next" href="#">بعدی</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- paginatoin-area end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->
        <footer>
            <div class="footer-top section-pb section-pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">اطلاعات تماس</h6>
                                <div class="contact-call-wrap">
                                    <img src="assets/images/icon/img-headphone.png" alt="">
                                    <div class="footer-call">
                                        <p>تلفن تماس :</p>
                                        <h6>(+98) 02123 456 789</h6>
                                    </div>
                                </div>
                                <div class="footer-addres">
                                    <p>تهران , تجریش</p>
                                    <p>info@gmail.com</p>
                                </div>

                                <ul class="social-icons">
                                    <li>
                                        <a class="facebook social-icon" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter social-icon" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="instagram social-icon" href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a class="linkedin social-icon" href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss social-icon" href="#" title="Rss" target="_blank"><i class="fa fa-rss"></i></a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">اوریجن</h6>
                                <ul class="footer-list">
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">تماس با ما</a></li>
                                    <li><a href="#">چرا اوریجن</a></li>
                                    <li><a href="#">وبلاگ</a></li>
                                    <li><a href="#">راهنمای خرید</a></li>
                                    <li><a href="#">  مجله اوریجن</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">خدمات مشتریان</h6>
                                <ul class="footer-list">
                                    <li><a href="#">پاسخ به پرسش‌های متداول</a></li>
                                    <li><a href="#">رویه‌های بازگرداندن کالا</a></li>
                                    <li><a href="#">شرایط استفاده</a></li>
                                    <li><a href="#">حریم خصوصی</a></li>
                                    <li><a href="#">گزارش باگ</a></li>
                                    <li><a href="#">رویه ارسال سفارش</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">دریافت اپلیکیشن اوریجن</h6>
                                <p>نزدیک‌ترین شعبه‌ی اوریجن در جیب شماست</p>
                                <ul class="footer-list">
                                    <li><img src="assets/images/brand/img-googleplay.jpg" alt=""></li>
                                    <li><img src="assets/images/brand/img-appstore.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newletter-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="newletter-wrap">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-12">
                                        <div class="newsletter-title mb-30">
                                            <h3>به ما ملحق شوید<br><span>خبرنامه</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-5">
                                        <div class="newsletter-dec mb-30">
                                            <p>از تخفیف‌ها و جدیدترین‌های اوریجن باخبر شوید:</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-7">
                                        <div class="newsletter-footer mb-30">
                                            <input type="text" placeholder="ایمیل...">
                                            <div class="subscribe-button">
                                                <button class="subscribe-btn">اشتراک</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="copy-left-text text-center">
                                <p> کلیه حقوق این سایت متعلق به فروشگاه آنلاین اوریجن می‌باشد.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/countdown.min.js"></script>
    <script src="assets/js/plugins/image-zoom.min.js"></script>
    <script src="assets/js/plugins/fancybox.js"></script>
    <script src="assets/js/plugins/scrollup.min.js"></script>
    <script src="assets/js/plugins/jqueryui.min.js"></script> 
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
</body>
</html>